#pie {
    background-color: #1B1E1F;
    margin-top: 2em;
    width: 102%;
    height: 50%;
}

#pie .layout {
    display: flex;
}

#pie .layout .mipie {
    margin: 0 auto;
}

#pie .layout .mipie #logito {
    font-size: 2em;
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    text-shadow: 0px 0px 1px white;
    padding-top: 1em;
}

#pie .layout .mipie h2 {
    text-transform: uppercase;
    color: white;
    border-bottom: 0.1em solid white;
    margin-bottom: 1.1em;
    padding-top: 1em;
}

#pie .layout .mipie p {
    color: white;
    margin: 1em;
}

#pie .layout .mipie p span img {
    height: 1em;
    margin-right: 0.4em;
}

#pie .layout .mipie p a {
    text-decoration: none;
    color: white;
}

#chat {
    width: 19em;
    height: 5em;
    margin-top: 8em;
    background-color: blue;
    #help {
        cursor: pointer;
        margin-top: 25px;
        margin-right: 4em;
        #cerrar {
            position: relative;
            left: 57px;
            bottom: 30px;
        }
    }
    #subchat {
        height: 25em;
        width: 19em;
        display: none;
        .contenido {
            height: 19em;
            background-color: #E6E7E8;
            #subcontent {
                //  background-color: white;
                #min-content {
                    padding-top: 3px;
                    p {
                        background-color: white;
                        color: #1B1E1F;
                        font-size: 15px;
                    }
                }
            }
            #sb-content {
                p {
                    background-color: white;
                    color: #1B1E1F;
                    font-size: 15px;
                }
            }
            #sh-content {
                p {
                    background-color: white;
                    color: #1B1E1F;
                    font-size: 15px;
                }
            }
        }
        textarea {
            height: 6em;
            width: 19em;
            border-top: 1px solid #C9C4C3;
        }
    }
    //botones del chat informativo
    #b-botones {
        background-color: white;
        position: absolute;
        top: 325px;
        left: 0px;
        margin-right: 9em;
        right: -9em;
        #close {
            width: 2em;
            margin-left: 8em;
            text-align: center;
        }
        #b-contacto {
            display: none;
            padding-top: 1em;
            input[type="submit"] {
                background-color: rgb(233, 80, 42);
                color: white;
                margin-left: 1em;
                padding-right: 3em;
                padding-left: 3em;
                text-transform: uppercase;
            }
            input[type="submit"]:hover {
                background-color: blue;
                transition: all 300ms;
            }
        }
        #b-informacion {
            display: none;
            input[type="submit"] {
                background-color: rgb(233, 80, 42);
                color: white;
                margin-left: 1em;
                padding-right: 3em;
                padding-left: 73px;
                margin-top: 1em;
                text-transform: uppercase;
            }
            input[type="submit"]:hover {
                background-color: blue;
                transition: all 300ms;
            }
        }
    }
}